@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #004add;
    margin-left: -50px;
    margin-right: -30px;
    margin-top: -32px; 
    position: sticky;
    padding-bottom: 42px;
    height: 175px;
}

.box {
    background-color:#dfe9f4;
    float: right;
    width: 330px;
    height: 38px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 0px 50px;
    cursor: pointer;
    text-align: left;
    margin-top: 60px;
    margin-right: 80px;
    position: relative;
}

input {
    width: 330px;
    border: none;
    outline: none;
    margin-right: -30px;
    background: none;
    font-size: 14px;
}

.fa-solid {
    margin-top: 10px;
    margin-left: 40px;
    opacity: 0.3;
}
.fa-solid:hover {
    color: #004add;
    cursor: pointer;
}

.logo {
    height: 145px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 15px;
}

nav {
    background-color: #0b6def;
    position: relative;
    margin-left: -45px;
    margin-right: -30px;
    height: 45px;
    box-shadow: 0px 20px 50px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 10%;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #0088a9;
    text-decoration: none;
}


.nav_links li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    padding: 6px 18px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links li:hover {
    background-color: rgb(211, 231, 244);
}

.nav_links li a:hover {
    color: #255773;
}

.container {
    padding: 0rem;
}

.slider-wrapper {
    position: relative;
    margin-left: -50px;
    margin-right: -30px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform:translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

title { 
    font-size: 200px;
    text-align: center;
}   


